<config>
    <modules>
        <Psquared_OrderHistoryUser>
            <version>0.2.0</version>
        </Psquared_OrderHistoryUser>
    </modules>
    <global>
        <resources>
            <orderhistoryuser_setup>
                <setup>
                    <module>Psquared_OrderHistoryUser</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderhistoryuser_setup>
        </resources>
        <events>
            <sales_order_status_history_save_before>
                <observers>
                    <orderhistoryuser_observer>
                        <type>singleton</type>
                        <class>Psquared_OrderHistoryUser_Model_Observer</class>
                        <method>orderStatusHistorySaveBefore</method>
                    </orderhistoryuser_observer>
                </observers>
            </sales_order_status_history_save_before>
            <model_save_before>
                <observers>
                    <orderhistoryuser_observer>
                        <type>singleton</type>
                        <class>Psquared_OrderHistoryUser_Model_Observer</class>
                        <method>orderCommentSaveBefore</method>
                    </orderhistoryuser_observer>
                </observers>
            </model_save_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <orderhistoryuser>
                    <file>orderhistoryuser.xml</file>
                </orderhistoryuser>
            </updates>
        </layout>
    </adminhtml>
</config>