<config>
    <modules>
        <SHAPP_Commenthistorystamp>
            <version>0.0.1</version>
        </SHAPP_Commenthistorystamp>
    </modules>
    <global> 
        <resources>
            <module_setup>
                <setup>
                    <module>SHAPP_Commenthistorystamp</module>                    
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </module_setup>
        </resources>    
        <events>
            <sales_order_status_history_save_before> 
                <observers>
                    <sales_order_status_history_save_before_observer>
                        <type>singleton</type>
                        <class>SHAPP_Commenthistorystamp_Model_Observer</class>
                        <method>orderStatusHistorySaveBefore</method>
                    </sales_order_status_history_save_before_observer>
                </observers>
            </sales_order_status_history_save_before>    
        </events>
    </global>
</config>